h1,
li,
h2 {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    line-height: 3rem;
    font-size: 24px;
    color:darkorchid;

}


body {
    background: linear-gradient(90deg, rgb(8, 6, 43) 0%, rgba(170,15,15,1) 35%, rgba(0,212,255,1) 100%); 
    font-family: Georgia, 'Times New Roman', Times, Garamond;
}

h1,
h2 {
    line-height: 3rem;
    color: yellow;
    margin-left: 3rem;
}

img {
    border-radius: 25px;
    width: 30%;
    height: auto;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

ol,
ul {
    line-height: 2rem;
}
.ingredients-list {
    background: linear-gradient(to right, #139da7 50%, #67d658 50%);
}

.steps-list {
    background: linear-gradient(to right, #eeea0c 50%, #e90765 50%);
}

.ingredients-list,
.steps-list {
    font-size: 20px;

    -webkit-background-clip: text;

    background-clip: text;

    -webkit-text-fill-color: transparent;

}

p {
    text-align: center;
    font-size: 20px;
    color: #500cee;
}

